.app-main-container {
    display: flex;
    justify-content: space-between;
    margin: 8px auto 0px;
    padding: 0px 32px;
    height: 4219px;
    background-color: rgb(34, 39, 46);
    max-width: 1280px;  
}

.main-left {
    margin-top: 32px;
    width: 296px;
    height: 4219px;
}

.img-border {
    width: 100%;
    height: 296px;
    border: 2px solid rgb(34, 39, 46);
    border-radius: 50%;
    overflow: hidden;  
}

.profile-img-container{
    position: relative;
}

.user-status-border {
    position: absolute;
    bottom: 36px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background-color: rgb(34, 39, 46);
    cursor: pointer;
}

.img-border img {
    width: 100%;
}

.profile-names-container {
    padding: 16px 0px;
}

.profile-user-name {
    font-size: 24px;
    font-weight: 700;
}

.profile-user-username {
    font-size: 20px;
    font-weight: 200;
    color: rgb(110,123,135);
}

.edit-profile-buttons {
    width: 296px;
    height: 32px;
    margin-bottom: 16px;
}

.follow-container {
    margin-bottom: 16px;
}

.follow-link {
    color: rgb(110,123,135);
    text-decoration: none;
}

.follow-link, 
.follow-font-b {
    font-weight: 300;
}

.follow-font-b {
    color: rgb(173,186,199);
    font-weight: 500;
}

.follow-container a:hover,
.follow-container a:hover * {
    color: #0969da;
}

.company-and-address-items {
    position: relative;
    width: 272px;
    padding: 4px 0px 0px 24px;
    font-size: 14px;
}

.company-and-address-items i {
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: rgb(142,186,199);
}

.company-items-name {
    text-decoration: none;
    font-weight: 500;
}

.company-items-name:hover {
    text-decoration: underline;
}

.profile-etc-container {
    margin-top: 16px;
    border-top: 1px solid rgb(55,62,71);
    padding-top: 16px;
}

.profile-etc-title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
}

.achievements-items {
    display: flex;
    flex-wrap: wrap;
}

.achievements-img{
    border-radius: 50%;
    width: 64px;
    height: 64px;
    overflow: hidden;
    
}

.achievements-img img {
    width: 100%;
}

.achievements-bottom {
    margin-top: 8px;
}

.achievements-beta {
    border: 1px solid #1a7f37;
    border-radius: 14px;
    padding: 1.428px 8px;
    color: #1a7f37;
    font-weight: 300;
    display: inline-block;
}

.send-feedback-link {
    text-decoration: none;
    font-weight: 300;
    color: #0969da;
    font-size: 12px;
}

.send-feedback-link:hover {
    text-decoration: underline;
}

.organizations-items {
    display: flex;
    flex-wrap: wrap;
}

.organizations-img {
    margin-right: 3px;
    margin-bottom: 3px;
    border: 1px solid rgb(55,62,71);
    border-radius: 6px;
    width: 34px;
    height: 34px;
    overflow: hidden;
    background-color: #eee;
}